extends base/_layout
block vars
    - var pageName = 'index'
block head
    title Table Scroll Art6
block page

    section.table_scroll_art6
        .table_scroll_art6__container
            .table_scroll_art6__wrapper
                include ./blocks/_table
    section.table_scroll_art6
        .table_scroll_art6__container.table_scroll_art6__container__rotate
            .table_scroll_art6__wrapper
                include ./blocks/_table


    











